# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool
*.out
coverage.txt
coverage.html

# Dependency directories
vendor/

# Go workspace file
go.work
go.work.sum

# OS and Editor files
.DS_Store
.idea/
.vscode/
*.swp
*.swo
invoice_service
bom.json
